/* main.css */
body {
	margin: 0;
}
.dialog {
	display: none;
	position: fixed;
	top: 0; bottom: 0;
	left: 0; right: 0;
	z-index: 10;
	background-color: rgba(0, 0, 0, 0.5);
}
.dialogInner {
	width: 430px;
	margin: 30px auto;
	background-color: white;
	padding: 20px;
	border-radius: 20px;
}
.dialogInner label {
	display: block;
    padding: 2px 0px;
}
#map {
	position: absolute;
	left: 465px; right:0;
	top:0; bottom:0;
	padding: 0;
}
/*#sidebar {
	background-color: aliceblue;
	position: absolute;
	left: 0; width: 360px;
	top: 0; bottom: 0;
	margin: 0; padding: 0;
	font-family: sans-serif;
	font-size: 10pt;
}*/
.treepane {
	position: absolute;
	left: 0; width: 100px;
	top: 0; bottom: 0;
	overflow-y: scroll;
	margin: 0;
	padding: 0 0 0 5px;
	/*border-bottom: solid 2px #888;*/
	border-right: solid 2px #888;
	font-family: sans-serif;
	font-size: 10pt;
}
.treepane span {
    white-space: nowrap;
}
.treepane ul {
    padding-left: 20px;
    list-style-type: none;
}
.treepane li {
	position: relative;
}
.treepane li.n0::before,
.treepane li.n1::before {
	content: '\00a0';
	position: absolute;
	z-index: -10;
	left: -100px; right: 0;
}
.treepane li.n0::before { background-color:#EEEEEE; }
.treepane li.n1::before { background-color:#DDDDDD; }
.treepane li.closed ul { display:none; }

/* Files */
.treepane li span {
	color: #000000;
	cursor: pointer;
}

.proppane {
	position: absolute;
	left: 107px; width: 360px;
	top: 0; bottom: 0;
	overflow-y: scroll;
	margin: 0; padding: 2px 0 0 0;
	border-right: solid 2px #888;
	font-family: sans-serif;
	font-size: 10pt;
}
.proppane header {
    display: block;
    padding: 3;
    height: 15px;
    position: relative;
    background-color: #628aac;
    color: white;
    font-weight: bold;
    text-align: center;
}
.proppane label {
	display: block;
    padding: 0;
    height: 21px;
    position: relative;
}
.proppane label:nth-child(odd) {
    background-color: #d4ebff;
}
.proppane label > span.key {
    margin: 3px;
    vertical-align: baseline;
    display: inline-block;
    width: 130px;
    word-wrap: break-word;
}
.proppane label > span.val {
	position: absolute;
	display: inline-block;
	right: 0;
	top: 0;
	width: 205px;
}
.proppane label > input.val {
	position: absolute;
	right: 0;
	top: 0;
	width: 205px;
}

#newDialog [name=genRadio] {
	display: none;
}
label.radio {
	background-color: #fdfdfd;
	border: 1px #b9b9b9 solid;
	display: initial;
	padding-right: 4px;
	border-radius: 10px;
}
