/* report.css */

body {
	margin: 0; padding:0;
	overflow: hidden;
}

.updates .update {
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 14px;
	padding: 1em;
	margin: 0;
	overflow-wrap: break-word;
	word-wrap: break-word;
}
.updates .update p {
	margin: 5px 0;
}
.updates .update a.author {
	color: #b6c6d6;
	transition: color 0.3s;
}
.updates .update time {
	display: inline-block;
	font-size: 10px;
	width: auto;
	text-align: left;
	overflow: hidden;
	vertical-align: top;
	margin-bottom: .5em;
	padding-top: 3px;
	color: #888;
	transition: color 0.3s;
	padding-left: 15px;
	text-indent: -20px;
}
.updates .update time::before {
	content: "";
	display: inline-block;
	width: 8px; height: 8px;
	border-radius: 4px;
	background: #ebebeb;
	margin-right: 6px;
	margin-left: 6px;
	transition: background 0.3s;
}

.summary {
    padding: 10px;
}
.summary h2 {
	margin: 0;
}
.summary h3 {
	margin: 4px 0;
}
.summary span[name=x],
.summary span[name=y] {
	margin: 0 10px;
}
.summary span[name=x]::before {
    content: 'x: ';
    font-size: 0.7em;
}
.summary span[name=y]::before {
    content: 'y: ';
    font-size: 0.7em;
}
.icons {
	float: right;
    font-size: 20px;
    width: 5.6em;
	color: #dddddd;
}
.icons .on {
	color: #000000;
}

